:root {
  --bg-color: #111827;
  --text-color: #fff;
  --primary-color: #1f2937;
  --secondary-color: #ffb928;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu Condensed", sans-serif;
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu Condensed", sans-serif;
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: var(--text-color);
}

.main-style {
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  margin: 5px;
}

.main-style > h1 {
  color: var(--secondary-color);
}

.header {
  height: 80px;
  font-size: 25px;
  color: var(--secondary-color);
}

.about > p {
  margin: 10px 20px;
  opacity: 0.7;
}

.about > p > span {
  font-weight: bold;
  font-size: 22px;
  color: var(--secondary-color);
}

.skills {
  flex-direction: column;
}

.sec-projects {
  flex-direction: column;
}

.projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.projects > div {
  flex-direction: column;
  width: 250px;
  min-height: 500px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: var(--bg-color);
  margin: 5px;
  color: var(--text-color);
}

/* .projects > div > a > img  */
.project-img {
  width: 240px;
  height: 240px;
  border-radius: 10px;
  margin: 5px;
  object-fit: cover;
}

.project-img:hover {
  width: 250px;
  height: 250px;
  margin: 0;
}

.projects > div > a > h3 {
  padding: 5px;
  color: var(--secondary-color);
}

.projects > div > a > h3:hover {
  text-decoration: underline;
}

.projects > div > a {
  text-decoration: none;
  color: var(--text-color);
}

.projects > div > a:visited {
  color: var(--text-color);
}

.projects > div > p {
  padding: 5px;
  opacity: 0.5;
}

.icons {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.icons > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 15px;
}

.buttons {
  display: flex;
}

.button,
.repo-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  width: 140px;
  height: 40px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background: var(--bg-color);
  color: var(--text-color);
  text-decoration: none;
}

.button:hover {
  transition: 0.5s;
  cursor: pointer;
  background: var(--text-color);
  font-size: 20px;
  color: var(--bg-color);
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.repo-link {
  width: 60px;
  justify-content: left;
  align-items: center;
}

.repo-link:hover {
  text-decoration: underline;
}

.repo-link-img {
  width: 20px;
  height: 20px;
}

@media (max-width: 500px) {
  body {
    width: 100%;
  }

  .main-style {
    display: flex;
    width: 100%;
    border-radius: 10px;
    padding: 3px;
    font-size: 17px;
    margin: 5px 3px;
  }

  .header {
    width: 90%;
    height: 40px;
    font-size: 20px;
  }

  .about {
    width: 90%;
  }

  .about > p {
    margin: 5px;
  }

  .about > p > span {
    font-size: 20px;
  }

  .skills {
    width: 90%;
  }

  .icons > div > img {
    width: 50px;
    height: 50px;
  }

  .sec-projects {
    width: 90%;
  }

  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .projects > div {
    flex-direction: column;
    width: 320px;
    min-height: 300px;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }
  .project-link {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* .projects > div > a > img */
  .project-img {
    width: 90%;
    height: 170px;
    border-radius: 10px;
    margin: 5px 0;
    object-fit: cover;
  }

  .projects > div > a > h3 {
    padding: 2px;
  }
  .projects > div > p {
    text-align: center;
    padding: 3px;
  }

  .contact {
    width: 90%;
  }

  .button {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    width: 100px;
    height: 30px;
    margin: 5px;
  }

  .social-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }

  .repo-link {
  }

  .repo-link-img {
    width: 15px;
    height: 15px;
  }
}
